<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Plantillas/template :: head">
	<meta charset="ISO-8859-1">
	<title>Pagina</title>
</head>

<body>

	<header th:replace="Plantillas/template.html :: header"></header>

	<div class="container">

		<div class="card bg-light">

			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">


				<form th:action="@{Views/Clientes/save}"  th:object="${cliente}" method="get">
					
					<div class="form-group row"> 
				
						<input type="hidden" th:field="*{id}">
						<label class="col-md-2" for="nombre">Nombre:</label>
						<input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6" id="nombre" placeholder="Nuevo Nombre:">
						<small></small>
						</div>
						<div class="form-group row"> 
						<label class="col-md-2" for="apellido">Apellido:</label>
						<input type="text" th:field="*{apellido}" class="form-control form-control-sm col-md-6" id="apellido" placeholder="Nuevo Apellido:">
						<small></small>
						</div>
						<div class="form-group row"> 
						<label class="col-md-2" for="numero">Numero:</label>
						<input type="text" th:field="*{numero}" class="form-control form-control-sm col-md-6" id="numero" placeholder="Nuevo Numero:">
						<small ></small>
						</div>
						<div class="form-group row"> 
						<label class="col-md-2" for="correo">Correo:</label>
						<input type="text" th:field="*{correo}" class="form-control form-control-sm col-md-6" id="correo" placeholder="Nuevo Correo:">
						<small></small>
						</div>
						<div class="card-footer bg-dark">
							
							<input type="submit" class="btn btn-primary btn-sm" value="Guardar">
						</div>
						
						
				</form>

			</div>
		</div>

	</div>

	<footer th:replace="Plantillas/template.html :: footer"></footer>

</body>

</html>